<!DOCTYPE html><html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>The Horizon of a Spherical Earth</title>
<!--Generated on Tue Jan 30 19:45:01 2024 by LaTeXML (version 0.8.7) http://dlmf.nist.gov/LaTeXML/.-->

<link rel="stylesheet" href="LaTeXML.css" type="text/css">
<link rel="stylesheet" href="ltx-article.css" type="text/css">
<link rel="stylesheet" href="ltx-listings.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
<div class="ltx_page_main">
<div class="ltx_page_content">
<article class="ltx_document ltx_authors_1line">
<h1 class="ltx_title ltx_title_document">The Horizon of a Spherical Earth</h1>
<div class="ltx_authors">
<span class="ltx_creator ltx_role_author">
<span class="ltx_personname">Thomas E. Vaughan
</span></span>
</div>

<div class="ltx_abstract">
<h6 class="ltx_title ltx_title_abstract">Abstract</h6>
    
<p class="ltx_p">A model of the Earth, as a perfect sphere with radius <math id="m1" class="ltx_Math" alttext="r=3960" display="inline"><mrow><mi>r</mi><mo>=</mo><mn>3960</mn></mrow></math> mi and
with no surrounding atmosphere, predicts that a cell-phone camera, with a
focal length of 3000 pixels and at an altitude of 35,000 ft, will see
10.6 pixels (0.2 deg) of curvature in the horizon over an angular baseline
on 39.1 deg.
The horizon is predicted to be 3.31 deg farther from the zenith than the
horizon of a flat-Earth model of large extent.
The measured curvature is about 10 pixels, consistent with the prediction.</p>
    
<p class="ltx_p">Suppose that a camera is situated at altitude <math id="m2" class="ltx_Math" alttext="h" display="inline"><mi>h</mi></math> and oriented so that the
horizon crosses the field of view.
The model predicts that the depression of the horizon away from the zenith,
relative to the horizon if the Earth were a very wide plane, is</p>
    
<table id="S0.Ex1" class="ltx_equation ltx_eqn_table">

<tbody><tr class="ltx_equation ltx_eqn_row ltx_align_baseline">
<td class="ltx_eqn_cell ltx_eqn_center_padleft"></td>
<td class="ltx_eqn_cell ltx_align_center"><math id="S0.Ex1.m1" class="ltx_Math" alttext="\delta=\arccos\frac{r}{r+h}\simeq\sqrt{\frac{2h}{r}}," display="block"><mrow><mrow><mi>δ</mi><mo>=</mo><mrow><mi>arccos</mi><mo lspace="0.167em">⁡</mo><mfrac><mi>r</mi><mrow><mi>r</mi><mo>+</mo><mi>h</mi></mrow></mfrac></mrow><mo>≃</mo><msqrt><mfrac><mrow><mn>2</mn><mo>⁢</mo><mi>h</mi></mrow><mi>r</mi></mfrac></msqrt></mrow><mo>,</mo></mrow></math></td>
<td class="ltx_eqn_cell ltx_eqn_center_padright"></td>
</tr></tbody>
</table>
    
<p class="ltx_p">where the deviation of the approximation from the exact prediction of the
model is smaller than 1% for <math id="m3" class="ltx_Math" alttext="h&lt;160" display="inline"><mrow><mi>h</mi><mo>&lt;</mo><mn>160</mn></mrow></math> mi.
Suppose that, within the field of view, <math id="m4" class="ltx_Math" alttext="\varphi" display="inline"><mi>φ</mi></math> is the largest angle of
separation between two image-points, <math id="m5" class="ltx_Math" alttext="L" display="inline"><mi>L</mi></math> and <math id="m6" class="ltx_Math" alttext="R," display="inline"><mrow><mi>R</mi><mo>,</mo></mrow></math> both on the horizon and
each at the same angular separation from the center <math id="m7" class="ltx_Math" alttext="K" display="inline"><mi>K</mi></math> of the image.
Let <math id="m8" class="ltx_Math" alttext="P" display="inline"><mi>P</mi></math> be the image-point on the horizon closest to <math id="m9" class="ltx_Math" alttext="K," display="inline"><mrow><mi>K</mi><mo>,</mo></mrow></math> and let the
angular separation between <math id="m10" class="ltx_Math" alttext="P" display="inline"><mi>P</mi></math> and the midpoint <math id="m11" class="ltx_Math" alttext="M" display="inline"><mi>M</mi></math> of the line-segment
between <math id="m12" class="ltx_Math" alttext="L" display="inline"><mi>L</mi></math> and <math id="m13" class="ltx_Math" alttext="R" display="inline"><mi>R</mi></math> be <math id="m14" class="ltx_Math" alttext="\varepsilon" display="inline"><mi>ε</mi></math>.
Then the angle <math id="m15" class="ltx_Math" alttext="\varepsilon" display="inline"><mi>ε</mi></math> is a measure of the horizon’s apparent
curvature over the angular baseline <math id="m16" class="ltx_Math" alttext="\varphi" display="inline"><mi>φ</mi></math>.
The model predicts that</p>
    
<table id="S0.Ex2" class="ltx_equation ltx_eqn_table">

<tbody><tr class="ltx_equation ltx_eqn_row ltx_align_baseline">
<td class="ltx_eqn_cell ltx_eqn_center_padleft"></td>
<td class="ltx_eqn_cell ltx_align_center"><math id="S0.Ex2.m1" class="ltx_Math" alttext="\varepsilon\simeq\left[\sec\left(\frac{\varphi}{2}\right)-1\right]\sqrt{\frac{%
2h}{r}}," display="block"><mrow><mrow><mi>ε</mi><mo>≃</mo><mrow><mrow><mo>[</mo><mrow><mrow><mi>sec</mi><mo>⁡</mo><mrow><mo>(</mo><mfrac><mi>φ</mi><mn>2</mn></mfrac><mo>)</mo></mrow></mrow><mo>−</mo><mn>1</mn></mrow><mo>]</mo></mrow><mo>⁢</mo><msqrt><mfrac><mrow><mn>2</mn><mo>⁢</mo><mi>h</mi></mrow><mi>r</mi></mfrac></msqrt></mrow></mrow><mo>,</mo></mrow></math></td>
<td class="ltx_eqn_cell ltx_eqn_center_padright"></td>
</tr></tbody>
</table>
    
<p class="ltx_p">where the expression is a value in radians.</p>
  
</div>
<div id="p1" class="ltx_para ltx_align_center">
<p class="ltx_p">Copyright 2024 Thomas E. Vaughan</p>
</div>
<section id="S1" class="ltx_section">
<h2 class="ltx_title ltx_title_section">
<span class="ltx_tag ltx_tag_section">1 </span>Introduction</h2>

<div id="S1.p1" class="ltx_para">
<p class="ltx_p">I derive an expression for the predicted, apparent curvature of the horizon
as observed by a camera above a spherical model of the Earth.
Then I show an image, taken of the horizon from an airplane flying at roughly
35,000 ft; I obtained this image by searching the internet for pictures of
the horizon.
Finally, I compare the prediction of the theory against the image.</p>
</div>
</section>
<section id="S2" class="ltx_section">
<h2 class="ltx_title ltx_title_section">
<span class="ltx_tag ltx_tag_section">2 </span>Prediction</h2>

<figure id="S2.F1" class="ltx_figure"><object type="image/svg+xml" data="diagram.svg" id="S2.F1.g1" class="ltx_graphics ltx_centering ltx_img_portrait" width="299" height="576"></object>
<figcaption class="ltx_caption"><span class="ltx_tag ltx_tag_figure">Figure 1: </span>Side-view (upper diagram) and top-view (lower diagram) of a
camera’s relationship to the horizon.
Camera at point <math id="S2.F1.m15" class="ltx_Math" alttext="O" display="inline"><mi>O</mi></math> is located at altitude <math id="S2.F1.m16" class="ltx_Math" alttext="h" display="inline"><mi>h</mi></math> above surface of sphere
with radius <math id="S2.F1.m17" class="ltx_Math" alttext="r" display="inline"><mi>r</mi></math> and center <math id="S2.F1.m18" class="ltx_Math" alttext="C." display="inline"><mrow><mi>C</mi><mo lspace="0em">.</mo></mrow></math>
<math id="S2.F1.m19" class="ltx_Math" alttext="P" display="inline"><mi>P</mi></math> is point on horizon with direction closest to central direction in
camera’s field of view.
In lower diagram is view from above <math id="S2.F1.m20" class="ltx_Math" alttext="O" display="inline"><mi>O</mi></math> and toward <math id="S2.F1.m21" class="ltx_Math" alttext="C" display="inline"><mi>C</mi></math> (behind <math id="S2.F1.m22" class="ltx_Math" alttext="O" display="inline"><mi>O</mi></math>).
Angle <math id="S2.F1.m23" class="ltx_Math" alttext="\varphi" display="inline"><mi>φ</mi></math> is largest angular separation between points that are on
horizon, in camera’s field of view, and at equal angular separation from
central direction in camera’s field.
<math id="S2.F1.m24" class="ltx_Math" alttext="M" display="inline"><mi>M</mi></math> is midpoint of segment <math id="S2.F1.m25" class="ltx_Math" alttext="LR" display="inline"><mrow><mi>L</mi><mo>⁢</mo><mi>R</mi></mrow></math>.
Small angular difference <math id="S2.F1.m26" class="ltx_Math" alttext="\varepsilon" display="inline"><mi>ε</mi></math> between direction <math id="S2.F1.m27" class="ltx_Math" alttext="OP" display="inline"><mrow><mi>O</mi><mo>⁢</mo><mi>P</mi></mrow></math> and
direction <math id="S2.F1.m28" class="ltx_Math" alttext="OM" display="inline"><mrow><mi>O</mi><mo>⁢</mo><mi>M</mi></mrow></math> is depicted (but not labeled) in upper diagram.</figcaption>
</figure>
<div id="S2.p1" class="ltx_para">
<p class="ltx_p">For a model in which the Earth has no atmosphere and is a sphere with radius
<math id="S2.p1.m1" class="ltx_Math" alttext="r=3960" display="inline"><mrow><mi>r</mi><mo>=</mo><mn>3960</mn></mrow></math> mi, the predicted distance <math id="S2.p1.m2" class="ltx_Math" alttext="d" display="inline"><mi>d</mi></math> to the horizon from an observer at
altitude <math id="S2.p1.m3" class="ltx_Math" alttext="h" display="inline"><mi>h</mi></math> above the surface obeys the equation <math id="S2.p1.m4" class="ltx_Math" alttext="d^{2}=2rh+h^{2}" display="inline"><mrow><msup><mi>d</mi><mn>2</mn></msup><mo>=</mo><mrow><mrow><mn>2</mn><mo>⁢</mo><mi>r</mi><mo>⁢</mo><mi>h</mi></mrow><mo>+</mo><msup><mi>h</mi><mn>2</mn></msup></mrow></mrow></math>.
See the side-view (upper diagram) in Figure <a href="#S2.F1" title="Figure 1 ‣ 2 Prediction ‣ The Horizon of a Spherical Earth" class="ltx_ref"><span class="ltx_text ltx_ref_tag">1</span></a>.
The approximate prediction</p>
<table id="S2.E1" class="ltx_equation ltx_eqn_table">

<tbody><tr class="ltx_equation ltx_eqn_row ltx_align_baseline">
<td class="ltx_eqn_cell ltx_eqn_center_padleft"></td>
<td class="ltx_eqn_cell ltx_align_center"><math id="S2.E1.m1" class="ltx_Math" alttext="\begin{array}[]{ccrr}d&amp;\simeq&amp;\sqrt{2rh}&amp;\\
&amp;\simeq&amp;[90\&gt;\text{mi}]&amp;\sqrt{\frac{h}{1\&gt;\text{mi}}}\\
&amp;\simeq&amp;[1.22\&gt;\text{mi}]&amp;\sqrt{\frac{h}{1\&gt;\text{ft}}}\end{array}" display="block"><mtable columnspacing="5pt" displaystyle="true" rowspacing="0pt"><mtr><mtd><mi>d</mi></mtd><mtd><mo>≃</mo></mtd><mtd class="ltx_align_right" columnalign="right"><msqrt><mrow><mn>2</mn><mo>⁢</mo><mi>r</mi><mo>⁢</mo><mi>h</mi></mrow></msqrt></mtd><mtd></mtd></mtr><mtr><mtd></mtd><mtd><mo>≃</mo></mtd><mtd class="ltx_align_right" columnalign="right"><mrow><mo stretchy="false">[</mo><mrow><mn>90</mn><mo lspace="0.220em">⁢</mo><mtext>mi</mtext></mrow><mo stretchy="false">]</mo></mrow></mtd><mtd class="ltx_align_right" columnalign="right"><msqrt><mstyle displaystyle="false"><mfrac><mi>h</mi><mrow><mn>1</mn><mo lspace="0.220em">⁢</mo><mtext>mi</mtext></mrow></mfrac></mstyle></msqrt></mtd></mtr><mtr><mtd></mtd><mtd><mo>≃</mo></mtd><mtd class="ltx_align_right" columnalign="right"><mrow><mo stretchy="false">[</mo><mrow><mn>1.22</mn><mo lspace="0.220em">⁢</mo><mtext>mi</mtext></mrow><mo stretchy="false">]</mo></mrow></mtd><mtd class="ltx_align_right" columnalign="right"><msqrt><mstyle displaystyle="false"><mfrac><mi>h</mi><mrow><mn>1</mn><mo lspace="0.220em">⁢</mo><mtext>ft</mtext></mrow></mfrac></mstyle></msqrt></mtd></mtr></mtable></math></td>
<td class="ltx_eqn_cell ltx_eqn_center_padright"></td>
<td rowspan="1" class="ltx_eqn_cell ltx_eqn_eqno ltx_align_middle ltx_align_right"><span class="ltx_tag ltx_tag_equation ltx_align_right">(1)</span></td>
</tr></tbody>
</table>
<p class="ltx_p">has, relative the the exact prediction, an error smaller than one percent so
long as <math id="S2.p1.m5" class="ltx_Math" alttext="h&lt;160" display="inline"><mrow><mi>h</mi><mo>&lt;</mo><mn>160</mn></mrow></math> mi.
In this model, an observer on the beach with eyes at <math id="S2.p1.m6" class="ltx_Math" alttext="h=6" display="inline"><mrow><mi>h</mi><mo>=</mo><mn>6</mn></mrow></math> ft above the
level of the sea is predicted to see the horizon about three miles away; if
the sea were rough with twelve feet from trough to crest<span id="footnote1" class="ltx_note ltx_role_footnote"><sup class="ltx_note_mark">1</sup><span class="ltx_note_outer"><span class="ltx_note_content"><sup class="ltx_note_mark">1</sup>
            <span class="ltx_tag ltx_tag_note">1</span>
            
            
            
          This is the definition of a 12-foot sea, which is the root-mean-square of
the trough-to-crest height of swells (waves propagated from distant winds)
and the height of local waves</span></span></span>,
the observer would be able to see distant crests up to six miles away.
An observer on an airplane flying at <math id="S2.p1.m7" class="ltx_Math" alttext="h=6" display="inline"><mrow><mi>h</mi><mo>=</mo><mn>6</mn></mrow></math> mi above the ocean is predicted
to see the horizon about 220 mi away in the model with no atmosphere, but the
horizon might appear 270 mi away, depending on atmospheric conditions,
because of atmospheric refraction as the index of refraction changes with
altitude.</p>
</div>
<div id="S2.p2" class="ltx_para">
<p class="ltx_p">Consider a camera that is located at altitude <math id="S2.p2.m1" class="ltx_Math" alttext="h" display="inline"><mi>h</mi></math>.
Let the camera be oriented such that within the camera’s field of view,
<math id="S2.p2.m2" class="ltx_Math" alttext="\varphi" display="inline"><mi>φ</mi></math> is the angle separating the two most widely separated image-points
<math id="S2.p2.m3" class="ltx_Math" alttext="L" display="inline"><mi>L</mi></math> and <math id="S2.p2.m4" class="ltx_Math" alttext="R" display="inline"><mi>R</mi></math> on the horizon, such that each of <math id="S2.p2.m5" class="ltx_Math" alttext="L" display="inline"><mi>L</mi></math> and <math id="S2.p2.m6" class="ltx_Math" alttext="R" display="inline"><mi>R</mi></math> is the same angular
distance from the center <math id="S2.p2.m7" class="ltx_Math" alttext="K" display="inline"><mi>K</mi></math> of the image.
In the image-plane, let <math id="S2.p2.m8" class="ltx_Math" alttext="P" display="inline"><mi>P</mi></math> be the point on the horizon closest to <math id="S2.p2.m9" class="ltx_Math" alttext="K," display="inline"><mrow><mi>K</mi><mo>,</mo></mrow></math> and
let <math id="S2.p2.m10" class="ltx_Math" alttext="M" display="inline"><mi>M</mi></math> be the midpoint of the segment <math id="S2.p2.m11" class="ltx_Math" alttext="LR." display="inline"><mrow><mrow><mi>L</mi><mo>⁢</mo><mi>R</mi></mrow><mo lspace="0em">.</mo></mrow></math>
The angular separation <math id="S2.p2.m12" class="ltx_Math" alttext="\varepsilon=\alpha-\beta" display="inline"><mrow><mi>ε</mi><mo>=</mo><mrow><mi>α</mi><mo>−</mo><mi>β</mi></mrow></mrow></math> is the difference between
two angles.
The larger is the angle <math id="S2.p2.m13" class="ltx_Math" alttext="\alpha=\arcsin{\frac{r}{r+h}}" display="inline"><mrow><mi>α</mi><mo>=</mo><mrow><mi>arcsin</mi><mo lspace="0.167em">⁡</mo><mfrac><mi>r</mi><mrow><mi>r</mi><mo>+</mo><mi>h</mi></mrow></mfrac></mrow></mrow></math> between the
nadir and the direction corresponding to <math id="S2.p2.m14" class="ltx_Math" alttext="P." display="inline"><mrow><mi>P</mi><mo lspace="0em">.</mo></mrow></math>
The smaller is the angle</p>
<table id="S2.E2" class="ltx_equation ltx_eqn_table">

<tbody><tr class="ltx_equation ltx_eqn_row ltx_align_baseline">
<td class="ltx_eqn_cell ltx_eqn_center_padleft"></td>
<td class="ltx_eqn_cell ltx_align_center"><math id="S2.E2.m1" class="ltx_Math" alttext="\beta=\frac{\pi}{2}-\arctan\sqrt{\frac{2rh+h^{2}}{r^{2}-[r+h]^{2}\sin^{2}\frac%
{\varphi}{2}}}" display="block"><mrow><mi>β</mi><mo>=</mo><mrow><mfrac><mi>π</mi><mn>2</mn></mfrac><mo>−</mo><mrow><mi>arctan</mi><mo lspace="0.167em">⁡</mo><msqrt><mfrac><mrow><mrow><mn>2</mn><mo>⁢</mo><mi>r</mi><mo>⁢</mo><mi>h</mi></mrow><mo>+</mo><msup><mi>h</mi><mn>2</mn></msup></mrow><mrow><msup><mi>r</mi><mn>2</mn></msup><mo>−</mo><mrow><msup><mrow><mo stretchy="false">[</mo><mrow><mi>r</mi><mo>+</mo><mi>h</mi></mrow><mo stretchy="false">]</mo></mrow><mn>2</mn></msup><mo lspace="0.167em">⁢</mo><mrow><msup><mi>sin</mi><mn>2</mn></msup><mo lspace="0.167em">⁡</mo><mfrac><mi>φ</mi><mn>2</mn></mfrac></mrow></mrow></mrow></mfrac></msqrt></mrow></mrow></mrow></math></td>
<td class="ltx_eqn_cell ltx_eqn_center_padright"></td>
<td rowspan="1" class="ltx_eqn_cell ltx_eqn_eqno ltx_align_middle ltx_align_right"><span class="ltx_tag ltx_tag_equation ltx_align_right">(2)</span></td>
</tr></tbody>
</table>
<p class="ltx_p">(here represented in radians) between the nadir and the direction
corresponding to <math id="S2.p2.m15" class="ltx_Math" alttext="M." display="inline"><mrow><mi>M</mi><mo lspace="0em">.</mo></mrow></math>
The difference <math id="S2.p2.m16" class="ltx_Math" alttext="\varepsilon" display="inline"><mi>ε</mi></math> is a measure of the apparent curvature of the
horizon at altitude <math id="S2.p2.m17" class="ltx_Math" alttext="h" display="inline"><mi>h</mi></math> and by way of an angular baseline <math id="S2.p2.m18" class="ltx_Math" alttext="\varphi" display="inline"><mi>φ</mi></math>.
If <math id="S2.p2.m19" class="ltx_Math" alttext="h" display="inline"><mi>h</mi></math> be small (smaller than 160 mi or so), the difference in radians is
predicted to be approximately</p>
<table id="S2.E3" class="ltx_equation ltx_eqn_table">

<tbody><tr class="ltx_equation ltx_eqn_row ltx_align_baseline">
<td class="ltx_eqn_cell ltx_eqn_center_padleft"></td>
<td class="ltx_eqn_cell ltx_align_center"><math id="S2.E3.m1" class="ltx_Math" alttext="\varepsilon\simeq\left[\sec\frac{\varphi}{2}-1\right]\sqrt{\frac{2h}{r}}." display="block"><mrow><mrow><mi>ε</mi><mo>≃</mo><mrow><mrow><mo>[</mo><mrow><mrow><mi>sec</mi><mo lspace="0.167em">⁡</mo><mfrac><mi>φ</mi><mn>2</mn></mfrac></mrow><mo>−</mo><mn>1</mn></mrow><mo>]</mo></mrow><mo>⁢</mo><msqrt><mfrac><mrow><mn>2</mn><mo>⁢</mo><mi>h</mi></mrow><mi>r</mi></mfrac></msqrt></mrow></mrow><mo lspace="0em">.</mo></mrow></math></td>
<td class="ltx_eqn_cell ltx_eqn_center_padright"></td>
<td rowspan="1" class="ltx_eqn_cell ltx_eqn_eqno ltx_align_middle ltx_align_right"><span class="ltx_tag ltx_tag_equation ltx_align_right">(3)</span></td>
</tr></tbody>
</table>
</div>
</section>
<section id="S3" class="ltx_section">
<h2 class="ltx_title ltx_title_section">
<span class="ltx_tag ltx_tag_section">3 </span>Observation</h2>

<figure id="S3.F2" class="ltx_figure"><img src="horizon-35k.png" id="S3.F2.g1" class="ltx_graphics ltx_centering ltx_img_landscape" width="538" height="404" alt="Refer to caption">
<figcaption class="ltx_caption"><span class="ltx_tag ltx_tag_figure">Figure 2: </span>Image taken by Sébastien Nadeau from airplane at about 35,000 ft
in altitutde.
The full width of about 4032 pixels is not usable because of the
obscuring wing of the aircraft.
Nadeu draw a thin, red line rough from where the horizon meets the left
edge of the image to where the horizon disappears behind the wing.
Zooming in, one can see that the horizon is slightly curved in the image
(see Figure <a href="#S3.F3" title="Figure 3 ‣ 3 Observation ‣ The Horizon of a Spherical Earth" class="ltx_ref"><span class="ltx_text ltx_ref_tag">3</span></a> and
Figure <a href="#S3.F5" title="Figure 5 ‣ 3 Observation ‣ The Horizon of a Spherical Earth" class="ltx_ref"><span class="ltx_text ltx_ref_tag">5</span></a>).
The visible horizon spans about 3100 pixels.</figcaption>
</figure>
<div id="S3.p1" class="ltx_para">
<p class="ltx_p">Sébastien Nadeau took the image in Figure <a href="#S3.F2" title="Figure 2 ‣ 3 Observation ‣ The Horizon of a Spherical Earth" class="ltx_ref"><span class="ltx_text ltx_ref_tag">2</span></a>.
He
<a href="https://qr.ae/pKll62" title="" class="ltx_ref ltx_href">described his observation in a post at <span class="ltx_text ltx_font_italic">Quora</span>.</a><span id="footnote2" class="ltx_note ltx_role_footnote"><sup class="ltx_note_mark">2</sup><span class="ltx_note_outer"><span class="ltx_note_content"><sup class="ltx_note_mark">2</sup>
            <span class="ltx_tag ltx_tag_note">2</span>
            
            
            
          <a href="https://qr.ae/pKll62" title="" class="ltx_ref ltx_url ltx_font_typewriter">https://qr.ae/pKll62</a></span></span></span>
Nadeau indicated that he captured an image of the horizon at about 35,000 ft
in altitude.</p>
</div>
<div id="S3.p2" class="ltx_para">
<p class="ltx_p">Nadeau mentioned that the camera corresponds to a Samsung Galaxy S7.
Many a different kind of camera was installed in the various versions of the
S7.
I downloaded and saved his image to a file</p>
<div class="ltx_listing ltx_lstlisting ltx_listing">
<div class="ltx_listing_data"><a href="data:text/plain;base64,aG9yaXpvbi0zNWsucG5n" download="">⬇</a></div>
<div id="lstnumberx1" class="ltx_listingline">
<span class="ltx_text ltx_lst_identifier ltx_font_typewriter">horizon</span><span class="ltx_text ltx_font_typewriter">-35</span><span class="ltx_text ltx_lst_identifier ltx_font_typewriter">k</span><span class="ltx_text ltx_font_typewriter">.</span><span class="ltx_text ltx_lst_identifier ltx_font_typewriter">png</span>
</div>
</div>
<p class="ltx_p">and then at the <span class="ltx_text ltx_font_typewriter">bash</span>-prompt under GNU/Linux, I ran ran the command,</p>
<div class="ltx_listing ltx_lstlisting ltx_listing">
<div class="ltx_listing_data"><a href="data:text/plain;base64,c3RyaW5ncyBob3Jpem9uLTM1LnBuZw==" download="">⬇</a></div>
<div id="lstnumberx2" class="ltx_listingline">
<span class="ltx_text ltx_lst_identifier ltx_font_typewriter">strings</span><span class="ltx_text ltx_lst_space ltx_font_typewriter"> </span><span class="ltx_text ltx_lst_identifier ltx_font_typewriter">horizon</span><span class="ltx_text ltx_font_typewriter">-35.</span><span class="ltx_text ltx_lst_identifier ltx_font_typewriter">png</span>
</div>
</div>
<p class="ltx_p">in order to extract the ASCII-strings from the image-file.
Although Nadeau, in a paint-program, manually drew a straight, red line onto
the image just under the horizon, in order to demonstrate its curvature, his
saving the image from the paint-program seems not to have eliminated the
source of the image in the PNG-file.
One of the first strings emitted from the command that I ran above is</p>
<div class="ltx_listing ltx_lstlisting ltx_listing">
<div class="ltx_listing_data"><a href="data:text/plain;base64,U00tRzkzMFc4" download="">⬇</a></div>
<div id="lstnumberx3" class="ltx_listingline">
<span class="ltx_text ltx_lst_identifier ltx_font_typewriter">SM</span><span class="ltx_text ltx_font_typewriter">-</span><span class="ltx_text ltx_lst_identifier ltx_font_typewriter">G930W8</span>
</div>
</div>
<p class="ltx_p">which happens to be one of the camera-model identifiers for the S7.
So Nadeau’s camera’s model seems to be <a href="https://www.camerafv5.com/devices/manufacturers/samsung/sm-g930w8_heroltebmc_0" title="" class="ltx_ref ltx_href">SM-G930W8</a>.<span id="footnote3" class="ltx_note ltx_role_footnote"><sup class="ltx_note_mark">3</sup><span class="ltx_note_outer"><span class="ltx_note_content"><sup class="ltx_note_mark">3</sup>
            <span class="ltx_tag ltx_tag_note">3</span>
            
            
            
          <a href="https://www.camerafv5.com/devices/manufacturers/samsung/sm-g930w8_heroltebmc_0" title="" class="ltx_ref ltx_url ltx_font_typewriter" style="font-size:70%;">https://www.camerafv5.com/devices/manufacturers/samsung/sm-g930w8_heroltebmc_0</a>
<br class="ltx_break">
<span class="ltx_tabular ltx_guessed_headers ltx_align_middle">
<span class="ltx_tbody">
<span class="ltx_tr">
<span class="ltx_td ltx_align_left ltx_th ltx_th_row">horizontal</span>
<span class="ltx_td ltx_align_right">67.8 deg</span>
<span class="ltx_td ltx_align_right">4032 pixels</span></span>
<span class="ltx_tr">
<span class="ltx_td ltx_align_left ltx_th ltx_th_row">vertical</span>
<span class="ltx_td ltx_align_right">55.7 deg</span>
<span class="ltx_td ltx_align_right">3024 pixels</span></span>
</span>
</span></span></span></span>
I calculate, by means of the model-identifier, that the focal-length <math id="S3.p2.m1" class="ltx_Math" alttext="f" display="inline"><mi>f</mi></math> of
the camera in pixels obeys the following constraint:</p>
<table id="S3.E4" class="ltx_equation ltx_eqn_table">

<tbody><tr class="ltx_equation ltx_eqn_row ltx_align_baseline">
<td class="ltx_eqn_cell ltx_eqn_center_padleft"></td>
<td class="ltx_eqn_cell ltx_align_center"><math id="S3.E4.m1" class="ltx_Math" alttext="f\tan\frac{67.8\;\text{deg}}{2}=\frac{4032}{2}\;\text{pixels}." display="block"><mrow><mrow><mrow><mi>f</mi><mo lspace="0.167em">⁢</mo><mrow><mi>tan</mi><mo lspace="0.167em">⁡</mo><mfrac><mrow><mn>67.8</mn><mo lspace="0.280em">⁢</mo><mtext>deg</mtext></mrow><mn>2</mn></mfrac></mrow></mrow><mo>=</mo><mrow><mfrac><mn>4032</mn><mn>2</mn></mfrac><mo lspace="0.280em">⁢</mo><mtext>pixels</mtext></mrow></mrow><mo lspace="0em">.</mo></mrow></math></td>
<td class="ltx_eqn_cell ltx_eqn_center_padright"></td>
<td rowspan="1" class="ltx_eqn_cell ltx_eqn_eqno ltx_align_middle ltx_align_right"><span class="ltx_tag ltx_tag_equation ltx_align_right">(4)</span></td>
</tr></tbody>
</table>
<p class="ltx_p">So, we have <math id="S3.p2.m2" class="ltx_Math" alttext="f=3000" display="inline"><mrow><mi>f</mi><mo>=</mo><mn>3000</mn></mrow></math> pixels.</p>
</div>
<figure id="S3.F3" class="ltx_figure"><img src="horizon-35k-markup.png" id="S3.F3.g1" class="ltx_graphics ltx_centering ltx_img_landscape" width="538" height="94" alt="Refer to caption">
<figcaption class="ltx_caption"><span class="ltx_tag ltx_tag_figure">Figure 3: </span>Central region from Figure <a href="#S3.F2" title="Figure 2 ‣ 3 Observation ‣ The Horizon of a Spherical Earth" class="ltx_ref"><span class="ltx_text ltx_ref_tag">2</span></a> with some overlaid
markings.
The center of the image is marked as point <math id="S3.F3.m13" class="ltx_Math" alttext="K" display="inline"><mi>K</mi></math>.
Centered on <math id="S3.F3.m14" class="ltx_Math" alttext="K" display="inline"><mi>K</mi></math> are two green circles.
(1) The smaller, green circle’s radius is the distance from <math id="S3.F3.m15" class="ltx_Math" alttext="K" display="inline"><mi>K</mi></math> to the
nearest point <math id="S3.F3.m16" class="ltx_Math" alttext="P" display="inline"><mi>P</mi></math> on the horizon.
(2) The larger, green circle’s radius is the largest radius from <math id="S3.F3.m17" class="ltx_Math" alttext="K" display="inline"><mi>K</mi></math> such
that the circle intersects the horizon at points <math id="S3.F3.m18" class="ltx_Math" alttext="L" display="inline"><mi>L</mi></math> and <math id="S3.F3.m19" class="ltx_Math" alttext="R" display="inline"><mi>R</mi></math> that are
both visible in the image.
The yellow line is the chord from <math id="S3.F3.m20" class="ltx_Math" alttext="L" display="inline"><mi>L</mi></math> to <math id="S3.F3.m21" class="ltx_Math" alttext="R" display="inline"><mi>R</mi></math> with midpoint <math id="S3.F3.m22" class="ltx_Math" alttext="M." display="inline"><mrow><mi>M</mi><mo lspace="0em">.</mo></mrow></math>
The angular separation between <math id="S3.F3.m23" class="ltx_Math" alttext="P" display="inline"><mi>P</mi></math> and <math id="S3.F3.m24" class="ltx_Math" alttext="M" display="inline"><mi>M</mi></math> is a measure of the horizon’s
curvature.
The black line at the top indicates where the horizon would be if the
Earth were flat and had large extent.
The red line at the bottom is Nadeau’s hand-drawn line roughly indicating
the horizon’s curvature.</figcaption>
</figure>
<div id="S3.p3" class="ltx_para">
<p class="ltx_p">To calculate the predicted value for <math id="S3.p3.m1" class="ltx_Math" alttext="\varepsilon" display="inline"><mi>ε</mi></math> one must estimate
<math id="S3.p3.m2" class="ltx_Math" alttext="\varphi." display="inline"><mrow><mi>φ</mi><mo lspace="0em">.</mo></mrow></math>
In Figure <a href="#S3.F3" title="Figure 3 ‣ 3 Observation ‣ The Horizon of a Spherical Earth" class="ltx_ref"><span class="ltx_text ltx_ref_tag">3</span></a>, the length of the line-segment <math id="S3.p3.m3" class="ltx_Math" alttext="LR" display="inline"><mrow><mi>L</mi><mo>⁢</mo><mi>R</mi></mrow></math>
is 2130 pixels.</p>
<table id="S3.E5" class="ltx_equation ltx_eqn_table">

<tbody><tr class="ltx_equation ltx_eqn_row ltx_align_baseline">
<td class="ltx_eqn_cell ltx_eqn_center_padleft"></td>
<td class="ltx_eqn_cell ltx_align_center"><math id="S3.E5.m1" class="ltx_Math" alttext="\varphi\simeq 2\arctan\frac{2130}{2\times 3000}," display="block"><mrow><mrow><mi>φ</mi><mo>≃</mo><mrow><mn>2</mn><mo lspace="0.167em">⁢</mo><mrow><mi>arctan</mi><mo lspace="0.167em">⁡</mo><mfrac><mn>2130</mn><mrow><mn>2</mn><mo lspace="0.222em" rspace="0.222em">×</mo><mn>3000</mn></mrow></mfrac></mrow></mrow></mrow><mo>,</mo></mrow></math></td>
<td class="ltx_eqn_cell ltx_eqn_center_padright"></td>
<td rowspan="1" class="ltx_eqn_cell ltx_eqn_eqno ltx_align_middle ltx_align_right"><span class="ltx_tag ltx_tag_equation ltx_align_right">(5)</span></td>
</tr></tbody>
</table>
<p class="ltx_p">and so <math id="S3.p3.m4" class="ltx_Math" alttext="\varphi\simeq 39.1" display="inline"><mrow><mi>φ</mi><mo>≃</mo><mn>39.1</mn></mrow></math> deg.
The approximation here is good to about one part in a thousand.
There is some round-off error at about one part in a thousand, and there is
some smaller error in ignoring that the horizon does not pass right through
the center of the image (though it passes within 20 pixels or so) and in
ignoring that the horizon is not exactly parallel with a pixel-row (though
the angular deviation from row-parallelism is tiny).</p>
</div>
<figure id="S3.F4" class="ltx_figure"><object type="image/svg+xml" data="curvature.svg" id="S3.F4.g1" class="ltx_graphics ltx_centering ltx_img_landscape" width="538" height="323"></object>
<figcaption class="ltx_caption"><span class="ltx_tag ltx_tag_figure">Figure 4: </span>
Predicted value of <math id="S3.F4.m5" class="ltx_Math" alttext="\varepsilon" display="inline"><mi>ε</mi></math> as a function of altitude <math id="S3.F4.m6" class="ltx_Math" alttext="h" display="inline"><mi>h</mi></math> and
angular baseline <math id="S3.F4.m7" class="ltx_Math" alttext="\varphi" display="inline"><mi>φ</mi></math>.
The right edge of the plot corresponds to <math id="S3.F4.m8" class="ltx_Math" alttext="h=35,000" display="inline"><mrow><mi>h</mi><mo>=</mo><mrow><mn>35</mn><mo>,</mo><mn>000</mn></mrow></mrow></math> ft.</figcaption>
</figure>
<div id="S3.p4" class="ltx_para">
<p class="ltx_p">For the value of <math id="S3.p4.m1" class="ltx_Math" alttext="\varphi" display="inline"><mi>φ</mi></math> extracted from the image, the predicted value of
<math id="S3.p4.m2" class="ltx_Math" alttext="\varepsilon" display="inline"><mi>ε</mi></math> is about 0.00354 radian (0.203 degree) at <math id="S3.p4.m3" class="ltx_Math" alttext="h=" display="inline"><mrow><mi>h</mi><mo>=</mo><mi></mi></mrow></math>35,000 ft.
(See Figure <a href="#S3.F4" title="Figure 4 ‣ 3 Observation ‣ The Horizon of a Spherical Earth" class="ltx_ref"><span class="ltx_text ltx_ref_tag">4</span></a> for a broad overview of what would be
predicted at different altitudes and for different values of <math id="S3.p4.m4" class="ltx_Math" alttext="\varphi," display="inline"><mrow><mi>φ</mi><mo>,</mo></mrow></math> which
is limited by the camera’s field of view.)
Because the measured distance from <math id="S3.p4.m5" class="ltx_Math" alttext="P" display="inline"><mi>P</mi></math> to <math id="S3.p4.m6" class="ltx_Math" alttext="M" display="inline"><mi>M</mi></math> is close to the center of the
image, one can use <math id="S3.p4.m7" class="ltx_Math" alttext="f\tan\varepsilon" display="inline"><mrow><mi>f</mi><mo lspace="0.167em">⁢</mo><mrow><mi>tan</mi><mo lspace="0.167em">⁡</mo><mi>ε</mi></mrow></mrow></math> as a very good approximation of the
number of pixels.
The predicted measure of curvature in this case is 10.6 pixels.
The observed measure of curvature is about 10 pixels.
To determine the observed value of <math id="S3.p4.m8" class="ltx_Math" alttext="\varepsilon," display="inline"><mrow><mi>ε</mi><mo>,</mo></mrow></math> I imported Nadeau’s image
into LibreOffice Draw.
I scaled the page exactly to fit the image, so that each pixel is 10 mm.
Then I drew the circles, lines, and text that can be seen in
Figure <a href="#S3.F3" title="Figure 3 ‣ 3 Observation ‣ The Horizon of a Spherical Earth" class="ltx_ref"><span class="ltx_text ltx_ref_tag">3</span></a> and in
Figure <a href="#S3.F5" title="Figure 5 ‣ 3 Observation ‣ The Horizon of a Spherical Earth" class="ltx_ref"><span class="ltx_text ltx_ref_tag">5</span></a>.
I was able to do all of this at high enough magnification so that the
measurement should have an error of no more than pixel or so.</p>
</div>
<figure id="S3.F5" class="ltx_figure"><img src="horizon-35k-markup-zoom.png" id="S3.F5.g1" class="ltx_graphics ltx_centering ltx_img_landscape" width="538" height="280" alt="Refer to caption">
<figcaption class="ltx_caption"><span class="ltx_tag ltx_tag_figure">Figure 5: </span>Magnified view of central portion of Figure <a href="#S3.F3" title="Figure 3 ‣ 3 Observation ‣ The Horizon of a Spherical Earth" class="ltx_ref"><span class="ltx_text ltx_ref_tag">3</span></a>.
The center of the image is marked as point <math id="S3.F5.m10" class="ltx_Math" alttext="K" display="inline"><mi>K</mi></math>.
Centered on <math id="S3.F5.m11" class="ltx_Math" alttext="K" display="inline"><mi>K</mi></math> is a green circle, whose radius is the distance from <math id="S3.F5.m12" class="ltx_Math" alttext="K" display="inline"><mi>K</mi></math>
to the nearest point <math id="S3.F5.m13" class="ltx_Math" alttext="P" display="inline"><mi>P</mi></math> on the horizon.
The yellow line is the central portion of the chord from <math id="S3.F5.m14" class="ltx_Math" alttext="L" display="inline"><mi>L</mi></math> to <math id="S3.F5.m15" class="ltx_Math" alttext="R" display="inline"><mi>R</mi></math> in
Figure <a href="#S3.F3" title="Figure 3 ‣ 3 Observation ‣ The Horizon of a Spherical Earth" class="ltx_ref"><span class="ltx_text ltx_ref_tag">3</span></a> with midpoint <math id="S3.F5.m16" class="ltx_Math" alttext="M" display="inline"><mi>M</mi></math>.
The angular separation between <math id="S3.F5.m17" class="ltx_Math" alttext="P" display="inline"><mi>P</mi></math> and <math id="S3.F5.m18" class="ltx_Math" alttext="M" display="inline"><mi>M</mi></math> is a measure of the horizon’s
curvature.
The black line at the top indicates where the horizon would be if the
Earth were flat and had large extent.
The red line at the bottom is Nadeau’s hand-drawn line roughly indicating
the horizon’s curvature.</figcaption>
</figure>
</section>
<section id="S4" class="ltx_section">
<h2 class="ltx_title ltx_title_section">
<span class="ltx_tag ltx_tag_section">4 </span>Conclusion</h2>

<div id="S4.p1" class="ltx_para">
<p class="ltx_p">The predicted value of <math id="S4.p1.m1" class="ltx_Math" alttext="\varepsilon" display="inline"><mi>ε</mi></math> is 10.6 pixels, and the measured value
is about 10 pixels.
The curvature of the horizon at 35,000 ft appears, from Nadeau’s image taken
with his cell-phone camera, to be consistent with what is predicted on the
basis of a perfectly spherical model of the Earth with no atmosphere.
The simplest interpretation is that, for this particular measurement, the
effects of the atmosphere and the Earth’s asphericity are not large enough to
be noticeable.</p>
</div>
</section>
</article>
</div>
<footer class="ltx_page_footer">
<div class="ltx_page_logo">Generated  on Tue Jan 30 19:45:01 2024 by <a href="http://dlmf.nist.gov/LaTeXML/" class="ltx_LaTeXML_logo"><span style="letter-spacing:-0.2em; margin-right:0.1em;">L<span style="font-size:70%;position:relative; bottom:2.2pt;">A</span>T<span style="position:relative; bottom:-0.4ex;">E</span></span><span class="ltx_font_smallcaps">xml</span><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAOCAYAAAD5YeaVAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wKExQZLWTEaOUAAAAddEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIFRoZSBHSU1Q72QlbgAAAdpJREFUKM9tkL+L2nAARz9fPZNCKFapUn8kyI0e4iRHSR1Kb8ng0lJw6FYHFwv2LwhOpcWxTjeUunYqOmqd6hEoRDhtDWdA8ApRYsSUCDHNt5ul13vz4w0vWCgUnnEc975arX6ORqN3VqtVZbfbTQC4uEHANM3jSqXymFI6yWazP2KxWAXAL9zCUa1Wy2tXVxheKA9YNoR8Pt+aTqe4FVVVvz05O6MBhqUIBGk8Hn8HAOVy+T+XLJfLS4ZhTiRJgqIoVBRFIoric47jPnmeB1mW/9rr9ZpSSn3Lsmir1fJZlqWlUonKsvwWwD8ymc/nXwVBeLjf7xEKhdBut9Hr9WgmkyGEkJwsy5eHG5vN5g0AKIoCAEgkEkin0wQAfN9/cXPdheu6P33fBwB4ngcAcByHJpPJl+fn54mD3Gg0NrquXxeLRQAAwzAYj8cwTZPwPH9/sVg8PXweDAauqqr2cDjEer1GJBLBZDJBs9mE4zjwfZ85lAGg2+06hmGgXq+j3+/DsixYlgVN03a9Xu8jgCNCyIegIAgx13Vfd7vdu+FweG8YRkjXdWy329+dTgeSJD3ieZ7RNO0VAXAPwDEAO5VKndi2fWrb9jWl9Esul6PZbDY9Go1OZ7PZ9z/lyuD3OozU2wAAAABJRU5ErkJggg==" alt="[LOGO]"></a>
</div></footer>
</div>
</body>
</html>
